.g-oidc-container
  margin-top 16px
  text-align center

  .g-oidc-login-button
    width 100%

  .g-oidc-toggle-password
    display inline-block
    margin-top 12px
    color #777
    cursor pointer
    font-size 13px

    &:hover, &:focus
      color #333
      text-decoration none

    .g-oidc-toggle-icon
      margin-right 2px
